:root {
/* Primary and Secondary */
  --primary: #32DA16;          /* Bright green */
  --secondary: #16DA64;        /* Soft mint green */

  /* Complementary and Accent */
  --complementary: #DA1632;    /* Vivid red */
  --accent: #16A6DA;           /* Aqua/teal */

  /* Triadic */
  --triadic1: #DA16A6;         /* Bright magenta */
  --triadic2: #A616DA;         /* Purple */

  /* Neutral / Background / Text */
  --background-light: #F0F0F0;
  --background-dark: #1A1A1A;
  --text-primary: #1A1A1A;
  --text-secondary: #28B112;   /* Darker green for depth */
  --highlight: #A0F2A8;        /* Lighter green for highlights */
  --border: #29B512
}
.lesson-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: start;
    justify-items: start;
    align-items: start;
    gap: 15px;
}

.lesson-modal-wrapper {
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
}

.add-lesson-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.add-lesson-form label {
    font-size: 14px;
}

.add-lesson-form input {
    margin-top: 10px;
}

.lesson-card {
    height: 200px;
    width: 180px;
}
.lesson-card a{
    color: var(--text-primary);
    font-weight: bold;
}
.lesson-card a:hover {
    color: var(--text-primary);
    font-weight: bold;
}

.lesson-card img {
    width: 100%;
    border-radius: 10px;
    height: 130px;
}

.lesson-form-input {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lesson-form-img-input {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
} 

#lesson-img-preview {
    width: 80px;
    height: 80px;
    display: none;
    margin-right: 10px;
    border-radius: 5px;
}
