* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    /* Important: body must fill viewport */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    background: #f2f2f2;
    color: #000;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: left;
}

main {
    flex: 1;
    padding: 20px;
    background: #f2f2f2;
}

.content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
}

.signin-card {
    height: fit-content;

}

.login-wrapper {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.login-wrapper a{ 
    marginTop: auto
}
.login-title {
    align-self: center;
    font-size: x-large;
}

.input-section {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-button {
    height: 40px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #000;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    padding: 10px
}

.anchor-link {
    margin-top: auto;
}

.input-section {
    width: 90%;
}

.signin-btn {
    margin-top: 20px;
}